.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 20%;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  background-color: grey;
  height: 100%;
  margin: 0 5% 5% 5%;
}
.Heading{
  height: 100%;
  margin: 0% 2% 2% 2%;
}

.Middle{
  margin: 5%;
  font-size: x-large;
}